    /*
    Flaticon icon font: Flaticon
    Creation date: 11/03/2017 08:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-signs:before { content: "\f100"; }
.flaticon-fashion:before { content: "\f101"; }
.flaticon-luxury:before { content: "\f102"; }
.flaticon-people-3:before { content: "\f103"; }
.flaticon-drink:before { content: "\f104"; }
.flaticon-people-2:before { content: "\f105"; }
.flaticon-people-1:before { content: "\f106"; }
.flaticon-people:before { content: "\f107"; }
.flaticon-marriage-couple:before { content: "\f108"; }
.flaticon-newly-married-couple:before { content: "\f109"; }
.flaticon-dinner:before { content: "\f10a"; }
    
    $font-Flaticon-signs: "\f100";
    $font-Flaticon-fashion: "\f101";
    $font-Flaticon-luxury: "\f102";
    $font-Flaticon-people-3: "\f103";
    $font-Flaticon-drink: "\f104";
    $font-Flaticon-people-2: "\f105";
    $font-Flaticon-people-1: "\f106";
    $font-Flaticon-people: "\f107";
    $font-Flaticon-marriage-couple: "\f108";
    $font-Flaticon-newly-married-couple: "\f109";
    $font-Flaticon-dinner: "\f10a";